ex11/movie_recommender.json
[{"id":"682647d50bc58a52","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"8ae31756b074c094","type":"Db2","hostname":"0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud","db":"bludb","port":"31198","name":""},{"id":"b47ddc8ab99f1803","type":"http request","z":"682647d50bc58a52","name":"db2 Access token","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":430,"y":240,"wires":[["fb198e26e28b93b4"]]},{"id":"3f1dcb6b8395d7cd","type":"http request","z":"682647d50bc58a52","name":"Execute SQL Query","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":500,"y":400,"wires":[["3552b130c93ba1c0"]]},{"id":"f4c7b0243a2298fe","type":"http request","z":"682647d50bc58a52","name":"Get SQL Query Result ","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":480,"y":560,"wires":[["e9ade4c7ccd5cebb","206ac5af44f8f6b9"]]},{"id":"c2cbe0ce477c8976","type":"function","z":"682647d50bc58a52","name":"get token body","func":"var db2_username = global.get('db2_username');\nvar db2_password = global.get('db2_password');\nvar db2_deploymentId = global.get('db2_deploymentId');\nvar db2_REST_API_HOSTNAME = global.get('db2_REST_API_HOSTNAME');\n\nmsg.payload = {\"userid\":db2_username,\"password\":db2_password}; \nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['x-deployment-id'] = db2_deploymentId;\n\n//set the get token url\nmsg.url = \"https://\"+db2_REST_API_HOSTNAME+\"/dbapi/v4/auth/tokens\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["b47ddc8ab99f1803"]]},{"id":"6a0f8ee5c318df26","type":"function","z":"682647d50bc58a52","name":"Execute SQL Body","func":"var db2_username = global.get('db2_username');\nvar db2_password = global.get('db2_password');\nvar db2_deploymentId = global.get('db2_deploymentId');\nvar db2_REST_API_HOSTNAME = global.get('db2_REST_API_HOSTNAME');\nvar db2_token = global.get('db2_token');\nvar query = `SELECT * FROM ${global.get('table_name')} ORDER BY RAND() LIMIT 20;`\n//var query = `${global.get('table_name')} ORDER BY RAND() LIMIT 20;`\n\n//msg.payload = {\"commands\":\"select TABNAME, TABSCHEMA, OWNER from syscat.tables fetch first 5 rows only;select * from INVALID_TABLE fetch first 5 rows only;\",\"limit\":10,\"separator\":\";\",\"stop_on_error\":\"no\"}\nmsg.payload = {\"commands\":query,\"limit\":20,\"separator\":\";\",\"stop_on_error\":\"no\"}\n\nmsg.headers = {};\n\nmsg.headers['authorization'] =  \"Bearer \"+ db2_token; \nmsg.headers['content-type'] = 'application/json';\nmsg.headers['x-deployment-id'] = db2_deploymentId;\n\n//set the execute sql url\nmsg.url = \"https://\"+db2_REST_API_HOSTNAME+\"/dbapi/v4/sql_jobs\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["3f1dcb6b8395d7cd"]]},{"id":"b9792875ca5b9090","type":"function","z":"682647d50bc58a52","name":"Fetch results with ID","func":"var db2_username = global.get('db2_username');\nvar db2_password = global.get('db2_password');\nvar db2_deploymentId = global.get('db2_deploymentId');\nvar db2_REST_API_HOSTNAME = global.get('db2_REST_API_HOSTNAME');\nvar db2_token = global.get('db2_token');\nvar db2_jobID = global.get('db2_jobID');\n\n\n//msg.payload = {\"commands\":\"select TABNAME, TABSCHEMA, OWNER from syscat.tables fetch first 5 rows only;select * from INVALID_TABLE fetch first 5 rows only;\",\"limit\":10,\"separator\":\";\",\"stop_on_error\":\"no\"}\n\nmsg.headers = {};\n\nmsg.headers['authorization'] =  \"Bearer \"+ db2_token; \nmsg.headers['content-type'] = 'application/json';\nmsg.headers['x-deployment-id'] = db2_deploymentId;\n\n//Fetch results\nmsg.url = \"https://\"+db2_REST_API_HOSTNAME+\"/dbapi/v4/sql_jobs/\"+db2_jobID;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":500,"wires":[["f4c7b0243a2298fe"]]},{"id":"9d814addac1ff87e","type":"function","z":"682647d50bc58a52","name":"Set gobal config","func":" global.set('db2_username', 'mrp31133');\n global.set('db2_password', 'eOaZkDKX1nEQA7tO')\n global.set('table_name', 'mrp31133.USER_MOVIE')\n global.set('db2_deploymentId', 'crn:v1:bluemix:public:dashdb-for-transactions:eu-gb:a/5578b3d1b57c4e88b59a0dfab9744975:7ce033ab-57ad-4c10-8a24-e43a2cebe5a4::');\n global.set('db2_REST_API_HOSTNAME', 'bs2ipcul0apon0jufi80lite.db2.cloud.ibm.com')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":120,"wires":[["c2cbe0ce477c8976"]]},{"id":"d2b4349574edf3bd","type":"function","z":"682647d50bc58a52","name":"Set db2 token ","func":" global.set('db2_token', msg.payload.token);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":300,"wires":[["6a0f8ee5c318df26"]]},{"id":"fb198e26e28b93b4","type":"json","z":"682647d50bc58a52","name":"","property":"payload","action":"","pretty":false,"x":590,"y":240,"wires":[["d2b4349574edf3bd"]]},{"id":"097a7d8322ff39de","type":"function","z":"682647d50bc58a52","name":"Set job id","func":" global.set('db2_jobID', msg.payload.id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["b9792875ca5b9090"]]},{"id":"3552b130c93ba1c0","type":"json","z":"682647d50bc58a52","name":"","property":"payload","action":"","pretty":false,"x":710,"y":420,"wires":[["097a7d8322ff39de"]]},{"id":"c4bc4b3923acebc3","type":"http response","z":"682647d50bc58a52","name":"","statusCode":"","headers":{},"x":1010,"y":380,"wires":[]},{"id":"172b87d7c69dd627","type":"http in","z":"682647d50bc58a52","name":"Get movies by ID","url":"/movies","method":"post","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["7130fdc3365e883f"]]},{"id":"7130fdc3365e883f","type":"function","z":"682647d50bc58a52","name":"Extract ID","func":" msg.payload = {\"user\": parseInt(msg.payload.id)};\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":40,"wires":[["909fc8b79c5b3345"]]},{"id":"909fc8b79c5b3345","type":"function","z":"682647d50bc58a52","name":"start to predict","func":"global.set(\"user\", msg.payload.user)\n\n\nvar API_KEY = \"ltSulQ1iaTqn9HwcLG1gWFmHML1nikVgdJl8LBe4RKff\"\n\nmsg.headers = {\"content-type\" : \"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\", \"apikey\" : API_KEY}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":140,"wires":[["4bc6385ae54182fc"]]},{"id":"4bc6385ae54182fc","type":"http request","z":"682647d50bc58a52","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":130,"y":200,"wires":[["30c39098ce340a9c"]]},{"id":"30c39098ce340a9c","type":"function","z":"682647d50bc58a52","name":"set token","func":"global.set('token', msg.payload.access_token)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":260,"wires":[["9d814addac1ff87e"]]},{"id":"d0d571de8bca4be3","type":"function","z":"682647d50bc58a52","name":"Query the ML model","func":"var token = global.get(\"token\")\n\nvar user = global.get(\"user\")\n//var user ={\"user\": 1};\nvar movies = global.get(\"movie_ids\")\n\nconst jsonObj = {\n    \"input_data\": [\n        {\n            \"values\": movies.map(m => { return [user, m]; })\n        }\n    ]\n}\n\nmsg.headers = {\n    \"Accept\": \"application/json\",\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json;charset=UTF-8\"\n}\n\nmsg.payload = jsonObj\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":140,"wires":[["3b2880451aeac490"]]},{"id":"3b2880451aeac490","type":"http request","z":"682647d50bc58a52","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/eae31e5f-2347-4722-9330-5fc2c297e572/predictions?version=2022-05-17","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":930,"y":200,"wires":[["88d82f2bb6e61d64"]]},{"id":"206ac5af44f8f6b9","type":"function","z":"682647d50bc58a52","name":"Get movies' ids","func":"var movie_ids = []\n for (let m of msg.payload.results[0].rows){\n     movie_ids.push(parseInt(m[1]))\n }\n\n var movie_names = []\n for (let m of msg.payload.results[0].rows){\n     movie_names.push(m[6])\n }\n\n global.set('movie_ids', movie_ids)\n global.set('movie_names', movie_names)\n\n msg.payload = movie_ids\n\n return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["c97d988e523487c4","d0d571de8bca4be3"]]},{"id":"e9ade4c7ccd5cebb","type":"debug","z":"682647d50bc58a52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"c97d988e523487c4","type":"debug","z":"682647d50bc58a52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":600,"wires":[]},{"id":"933e2174da059702","type":"debug","z":"682647d50bc58a52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":340,"wires":[]},{"id":"88d82f2bb6e61d64","type":"function","z":"682647d50bc58a52","name":"","func":"top_n = global.get('n_candidates')\n\nvar predictions = msg.payload.predictions[0].values.map(v => {return v[0]} )\n\nvar sorted_predictions = predictions.slice()\nsorted_predictions.sort((left,right)=>{return left == right? 0 : left > right ? -1 : 1;})\nvar indices = sorted_predictions.map(p => {return predictions.indexOf(p)})\nindices = indices.slice(0,top_n)\n\nvar movies = global.get(\"movie_names\")\nmsg.payload = {\"movies\": indices.map(i=>{return movies[i]})}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":240,"wires":[["933e2174da059702","c4bc4b3923acebc3"]]}]